part3_serper_3.json
{
  "name": "part3_serper",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1160,
        280
      ],
      "id": "5e8c83ce-d5f3-40a3-9305-c3d84cf2dcd5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Objective:\nProduce a simplified intelligence summary for each supplier, focusing on:\n\nTrustpilot: URL (first search result) and overall rating\n\nZoomInfo: URL (first search result)\n\nContact Info (via Serper contact tool): Primary phone number and email address\nDomain Age: Website creation date and age in years\n\nStep 1 | Supplier Ingestion:\n\nTake the provided list of supplier names.\n\nGo through each supplier, using their name as the search keyword.\n\nStep 2 | Trustpilot Information:\n\nSearch: Use Serper API to search \"<supplier name>\" site:trustpilot.com.\n\nExtract: Take the  URL that contains name of supplier returned.\n\nScrape: Get only the Trustpilot URL and overall rating (e.g., 4.2/5). Ignore everything else.\n\nStep 3 | ZoomInfo URL:\n\nSearch: Use Serper API to search \"<supplier name>\" site:zoominfo.com.\n\nExtract: Take only the first URL from the results.\n\n Step 4 | Contact Information (Serper API)\nSearch:\n\nSerper API: \"<supplier name>\" contact phone email\n\nExtract:\n\nCapture primary phone number and email address from the first relevant result.\n\n\nStep 5 | Domain Age:\n\nSearch: Get the creation date for the supplier's website domain.\n\nCalculate: Determine domain age in full years.\nStep 7 | Final Output:\nCombine all collected data into a simple, clear table:\n\n| supplier_name | trustpilot_url | trustpilot_rating | zoominfo_url | phone_number | email_address | domain_creation_date | domain_age_years |\nThis final table should be immediately ready for business analysis or reporting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        160,
        -80
      ],
      "id": "71a3b490-b7e5-4e9e-a28c-d8978982e9d3",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        440
      ],
      "id": "96b9ce7d-6083-4422-8052-98ee15090840",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "scrape the trust pilot data to fetch trust pilot rating",
        "method": "POST",
        "url": "https://scrape.serper.dev",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        340,
        420
      ],
      "id": "adc3ff45-69d2-4129-8119-a9fdd5c18f4a",
      "name": "Scrape Trustpilot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OxueVwSXP2xgwkeb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -260,
        400
      ],
      "id": "59de40d7-44e7-4025-b7fe-be981c41e53a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "XSGJFBxpqyzvLZs0",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "domain age",
        "url": "https://whoisjson.com/api/v1/whois",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "domain"
            },
            {
              "name": "format",
              "valueProvider": "fieldValue",
              "value": "json"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        400
      ],
      "id": "520f8236-521b-49b6-9dd4-2958d6731088",
      "name": "Domain Age",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fL9Xp6GgvuRjk6nY",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "get the zoom info url from serper api",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        520,
        420
      ],
      "id": "5b3f23b8-ccd8-4620-af9a-768b1bbda474",
      "name": "ZoomInfo URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OxueVwSXP2xgwkeb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "get the zoominfo data using scrapfly",
        "url": "https://api.scrapfly.io/scrape",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "tags",
              "valueProvider": "fieldValue",
              "value": "player,project:default"
            },
            {
              "name": "asp",
              "valueProvider": "fieldValue",
              "value": "true"
            },
            {
              "name": "render_js",
              "valueProvider": "fieldValue",
              "value": "true"
            },
            {
              "name": "key",
              "valueProvider": "fieldValue",
              "value": "scp-test-cd1827ce3f734399b52e1c8e56bcfe42"
            },
            {
              "name": "format",
              "valueProvider": "fieldValue",
              "value": "markdown:no_links,no_images"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1080,
        320
      ],
      "id": "cece7093-fcc5-4755-ba6a-8db3401825b8",
      "name": "Scrapfly"
    },
    {
      "parameters": {
        "toolDescription": "use this tool to get trustpilot url that matches the name of supplier",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "num",
              "valueProvider": "fieldValue",
              "value": "10"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        700,
        400
      ],
      "id": "01cd6b6d-955e-41d8-8762-a36d9d24c6e5",
      "name": "Serper trsutpilot URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OxueVwSXP2xgwkeb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc15e13e-942a-49f2-822a-eb2b226ba4cf",
              "name": "chatInput",
              "value": "={{$json?.chatInput || $json.body.chatInput}}",
              "type": "string"
            },
            {
              "id": "eaa62290-659d-4995-ace7-2baec93b734c",
              "name": "sessionId",
              "value": "={{$json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -160
      ],
      "id": "49759761-915e-4900-9a43-529ac4a52487",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3b0a634-8aa0-4273-802d-9bbf62f8a79e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        -340
      ],
      "id": "85198375-394c-4081-8265-a2d637934b2b",
      "name": "Webhook",
      "webhookId": "c3b0a634-8aa0-4273-802d-9bbf62f8a79e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        100
      ],
      "id": "a727feff-64e8-4b62-885c-89d35922002e",
      "name": "When chat message received",
      "webhookId": "88369ea1-57c8-486e-b2f1-2dadac313cf4"
    },
    {
      "parameters": {
        "toolDescription": "use this tool to get email and phone number of supplier.",
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "num",
              "valueProvider": "fieldValue",
              "value": "1"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        160,
        460
      ],
      "id": "ccff047e-010f-48e0-8359-323370ace844",
      "name": "Serper contact information",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OxueVwSXP2xgwkeb",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Partnership Inquiry -{{ $('When chat message received').item.json.chatInput.split(\"and\")[0].split(\"is\")[1] }}",
        "message": "=Hello {{ $('When chat message received').item.json.chatInput.split(\"and\")[0].split(\"is\")[1] }} Team,I'm interested in discussing a potential partnership your products. Best regards",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        -100
      ],
      "id": "a0defe04-2b18-4f06-9f58-31b10e23fd2b",
      "name": "Gmail",
      "webhookId": "c13b0266-a8f1-47b7-89da-eee98d727776",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZesJoA1DbvqYi2Eb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FkuXvTmt0cODZj3pDwQvgjONgbI-ho6hFKD21B7rYVM",
          "mode": "list",
          "cachedResultName": "SuppliersDetailedInfo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FkuXvTmt0cODZj3pDwQvgjONgbI-ho6hFKD21B7rYVM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FkuXvTmt0cODZj3pDwQvgjONgbI-ho6hFKD21B7rYVM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        -240
      ],
      "id": "afdbe482-0b43-4367-80b5-d7cff6b9e568",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BTTjGLa1vcE6pDMr",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Trustpilot": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Domain Age": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ZoomInfo URL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scrapfly": {
      "ai_tool": [
        []
      ]
    },
    "Serper trsutpilot URL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper contact information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b98d760-5485-417e-a399-f3c6ead48dbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7be1ed2e9bc94c9f68d3806782c95f30bc7342c57bbc30e491a6e15374c3365"
  },
  "id": "akk3n9AxROjVjIVi",
  "tags": []
}